/* Обнуляем стили по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили страницы */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fffefe;
    background-color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    background-color: #202020;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 50px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

.hero {
    height: 400px;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

header .logo {
    display: flex;
    align-items: center;
  }
  
  header .logo img {
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  header .logo span {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
  }

.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.news-item {
    background-color: #202020;
    box-shadow: 0 0 10px rgba(226, 223, 223, 0.1);
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item {
    background-color: #202020;
    box-shadow: 0 0 10px rgba(226, 223, 223, 0.1);
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.news-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.news-item:hover::before {
    opacity: 1;
}

.news-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-item h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.news-item p {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.5;
    color: #f8f8f8;
}

.news-item .source {
    font-size: 1em;
    color: #777575;
    margin-top: 5px;
}

footer {
    background-color: #202020;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 160px;
}

.item .links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #333;
    padding: 27px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
  
  .item:hover .links {
    display: flex;
    flex-direction: column;
  }
  
  .item .links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .item .links a:hover {
    color: rgb(0, 0, 0);
  }
